@font-face {
    font-family: 'Aero Matics';
    src: url('/fonts/AeroMatics/Aero Matics Regular.ttf');
}

@font-face {
    font-family: 'Aero Matics';
    src: url('/fonts/AeroMatics/Aero Matics Bold Italic.ttf');
}

@font-face {
    font-family: 'Aero Matics';
    src: url('/fonts/AeroMatics/Aero Matics Bold.ttf');
}

@font-face {
    font-family: 'Aero Matics';
    src: url('/fonts/AeroMatics/Aero Matics Display.ttf');
}

@font-face {
    font-family: 'Aero Matics';
    src: url('/fonts/AeroMatics/Aero Matics Display Bold.ttf');
}

@font-face {
    font-family: 'Aero Matics';
    src: url('/fonts/AeroMatics/Aero Matics Display Bold Italic.ttf');
}

@font-face {
    font-family: 'Aero Matics';
    src: url('/fonts/AeroMatics/Aero Matics Display Italic.ttf');
}

@font-face {
    font-family: 'Aero Matics';
    src: url('/fonts/AeroMatics/Aero Matics Display Light.ttf');
}

@font-face {
    font-family: 'Aero Matics';
    src: url('/fonts/AeroMatics/Aero Matics Display Light Italic.ttf');
}

@font-face {
    font-family: 'Aero Matics';
    src: url('/fonts/AeroMatics/Aero Matics Display Regular.ttf');
}

@font-face {
    font-family: 'Aero Matics';
    src: url('/fonts/AeroMatics/Aero Matics Light Italic.ttf');
}

@font-face {
    font-family: 'Aero Matics';
    src: url('/fonts/AeroMatics/Aero Matics Light.ttf');
}
