@using ScarletPigsWebsite.Data.Models.RoleAssignments
@namespace ScarletPigsWebsite.Components.Helper.RolesheetComponents

<div style="background-color:@BgColor;padding:15px;position:relative;">
    @foreach (Squad squad in SquadList)
    {
        <SquadDisplay Squad="squad" TextColor="@TextColor" />
    }
</div>

@code {

    [Parameter]
    public List<Squad> SquadList { get; set; }

    [Parameter]
    public EventCallback<List<Squad>> SquadListChanged { get; set; }

    [Parameter]
    public string BgColor { get; set; } = "#a7a9ac";

    [Parameter]
    public string TextColor { get; set; } = "#f8b133";

}
