@using Microsoft.JSInterop
@using System.Collections.ObjectModel
@inject IJSRuntime JSRuntime

<div ref="@svgContainerRef" style="position:absolute; left:0; top:0; right:0; bottom:0;">
    <svg style="width: 100%; height: 100%">
        <!-- SVG content is dynamically handled by JS -->
    </svg>
</div>

@code {
    [Parameter] 
    public ObservableCollection<(ElementReference StartRef, ElementReference EndRef)> Connections { get; set; } = new ObservableCollection<(ElementReference, ElementReference)>();

    [Parameter]
    public EventCallback<ObservableCollection<(ElementReference StartRef, ElementReference EndRef)>> ConnectionsChanged { get; set; }

    private ElementReference svgContainerRef;

    protected override async Task OnInitializedAsync()
    {
        Connections.CollectionChanged += (sender, e) => StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await RenderSVGPaths();
    }

    private async Task RenderSVGPaths()
    {
        foreach (var connection in Connections)
        {
            await JSRuntime.InvokeVoidAsync("drawRightAngledLine", svgContainerRef, connection.StartRef, connection.EndRef);
        }
    }
}
